:root{
   
   --main-txt-color: #333333; 
   --main-font-family: Montserrat;
   --main-background-color:#E5E5E5;
   --header-background-color: #FED100; 
   --button-orange-color:#FF352B;
   --button-yellow-color:#FED100;
   --button-border-color: #FED100;


   --header-p-font-size-desktop: 1rem;
   --header-h1-font-size-desktop: 4.375rem;
   --header-h2-font-size-desktop: 1.875rem;
   --header-menue-font-size-desktop: 1.125rem;
   --header-button-font-size-desktop: 1.125rem;
   --header-logo-font-size-desktop: 1.875rem;
   --header-phone-font-size-desktop: 1.5rem;

   
   --header-h1-font-size-tablet: 3.5rem;
   --header-h2-font-size-tablet: 2.25rem;
   --header-button-font-size-tablet: 1.875rem;
   --header-logo-font-size-tablet: 2.25rem;

   --header-h1-font-size-mobile: 1.75rem;
   --header-h2-font-size-mobile: 1.125rem;
   --header-button-font-size-mobile: 1.25rem;
   --header-logo-font-size-mobile: 1rem;

}

.body{
   font-style: normal;
   font-size: var(--header-p-font-size-desktop);
   font-weight: 400; 
   font-family: var(--main-font-family);
   
   color: var(--header-p-txt-color);
   list-style-type: disc;
}



.header{
   background-color: var(--header-background-color);
   color: var(--main-txt-color);
   
   margin: 0px;   
   
   padding-left: 3%;
   padding-right: 3%;   
}

.header__container{      
   
   margin: 0px auto;
   max-width: 1300px;

}

.header__menubody{
   display:flex;
   justify-content:space-between;
   align-items: center;
   
   width: 100%;
}

.header__companyname p{
   font-size: var(--header-logo-font-size-desktop);
   font-weight: 600; 
}

.header__menue{
   font-size: var(--header-menue-font-size-desktop);
   font-weight: 500; 
   width: 500px;
}

.header__menue ul{
   list-style: none;
   display: flex;
}
.header__menue ul li{
   display: block;
   margin-right: 1rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding: 0.5rem 1rem;
}

.header__menue ul li:hover{
   background-color: #FF772B;
   color: aliceblue;
   cursor: pointer;
      
   transition: 1s;
}

.header__phone{   
   text-decoration: underline; 
}

.header__phone p{
   font-size: var(--header-phone-font-size-desktop);
   font-weight: 500;
}

.header__phone:hover{
   cursor: pointer;
   
   text-shadow: 2px 2px white;
   transition: 1s;
}

.header__burger{
   display: none;    
}
.header__burger p{   
   font-size: var(--header-phone-font-size-desktop);
   font-weight: 500; 
}


.header__informationbody{
   display:grid;
   grid-template-columns: [start] 1.2fr auto [col-end];
   grid-template-rows: [start] 240px auto auto auto [row-end];

   grid-template-areas: "h_title h_deliverymanimg"  
                       "h_countries h_deliverymanimg"  
                       "h_orderbuttoncontainer h_deliverymanimg"
                       "h_headertopics h_deliverymanimg";

   
   
   width: 100%;
   
}

.header__title{   
   grid-area: h_title;
   padding: 0px;
   margin: 0px;
}
.header__title h1{
   line-height: 90%;
}

.header__countries{   
   grid-area: h_countries;
   
}


.header__orderbuttoncontainer{   
   grid-area: h_orderbuttoncontainer;  
  
   padding-bottom: 2rem;
}

.button_header__orderbuttoncontainer{
   display:flex;
   background-color: var(--button-orange-color);
   
   color: white;
   
   width: 304px;
   height: 60px;   
   
   align-items: center;

   box-shadow:
   5px 5px var(--header-background-color),
   8px 8px rgb(255, 255, 255);   
}

.button_header__orderbuttoncontainer:hover{
   background-color: #FF772B;
   color: white;
   cursor: pointer;
   transition: 1s;

   box-shadow:
   2px 2px var(--header-background-color),
   4px 4px rgb(255, 255, 255);
   
}

.button_header__orderbuttoncontainer p{
   display: block;
   margin:0px auto;
   font-size: var(--header-button-font-size-desktop);
   font-weight: 600;

   user-select: none;
}

.header__topics{
   grid-area: h_headertopics;

   font-size: var(--header-phone-font-size-desktop);
   font-weight: 500; 
   display:flex;
   flex-direction: row;  
   margin-bottom: 3rem; 
}

.topic_header__topics{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.topic_header__topics p{   
   padding-left: 0.5rem;
   padding-right: 1.5rem;
}

.header__deliverymanimg{
   grid-area: h_deliverymanimg;
   
   overflow: hidden;
   align-self: end;
   
}
.header__deliverymanimg img{
   width: 100%;
   
   display:block;
}


/*================Process section =============*/

.main__process{
   background-color: #FFFFFF;
   color: var(--main-txt-color);
   
   margin: 0px;   
   
   padding-left: 3%;
   padding-right: 3%;  
   
   padding-bottom: 2rem;
}

.main__process_container{      
   margin: 0px auto;
   max-width: 1105px;
   padding-top: 2rem;
}

.main__process_header{
   text-align: center;   
}

.main__process_topicsgrid{
   display:grid;
   grid-template-columns: [start] 0.2fr 1fr 0.1fr 0.2fr 1fr[col-end];
   grid-template-rows: [start] auto auto auto auto [row-end];

   grid-template-areas: "topicnumber01 topicheader01 emptycol topicnumber02 topicheader02"
                        "topicnumber01 topictext01 emptycol topicnumber02 topictext02"
                        "topicnumber03 topicheader03 emptycol topicnumber04 topicheader04"
                        "topicnumber03 topictext03 emptycol topicnumber04 topictext04";
                       
   width: 100%;
}

.text_main__process_header{
   font-size: 1.875rem;
   font-weight: 600;
}

.topicnumber_process{
   font-size: 3.125rem;
   font-weight: 300;
   text-shadow: 2px 0px #FF772B;
   
   
}
.topicheader__process{
   font-size: 1.25rem;
   font-weight: 500;

   padding-top: 1rem;
}
.topictext__process{
   font-size: 1rem;
   font-weight: 400;
}

.topicnumber01__process{   
   grid-area: topicnumber01;  
}

.topicnumber02__process{   
   grid-area: topicnumber02;     
}

.topicnumber03__process{   
   grid-area: topicnumber03;       
}

.topicnumber04__process{   
   grid-area: topicnumber04;       
}

.topicheader01__process{
   grid-area: topicheader01;
}

.topicheader02__process{
   grid-area: topicheader02;
}

.topicheader03__process{
   grid-area: topicheader03;
}

.topicheader04__process{
   grid-area: topicheader04;
}

.topictext01__process{
   grid-area: topictext01;
}

.topictext02__process{
   grid-area: topictext02;
}

.topictext03__process{
   grid-area: topictext03;
}

.topictext014__process{
   grid-area: topictext04;
}

.emptycol{
   grid-area: emptycol;
}

.process__arrowdown1, .process__arrowdown2, .process__arrowdown3, .process__arrowdown4{
   display: none;
   
}

.arrowimg_process{
   align-self: center;
}

/*================End of Process section =============*/

/*================Price section =============*/

.main__prices{
   background-color: #FFFFFF;
   color: var(--main-txt-color);
   
   margin: 0px;   
   
   padding-left: 3%;
   padding-right: 3%;  
   padding-bottom: 2rem;
}

.main__prices_container{      
   margin: 0px auto;
   max-width: 1305px;
   padding-top: 2rem;
}

.main__prices_header{
   text-align: center;   
}

.header1_main__prices{
   font-size: 1.875rem;
   font-weight: 600;   
}

.header2_main__prices{
   font-size: 1.5rem;
   font-weight: 600;   
}

.main__prices_cardscontainer{
   max-width: 1305px;
   display: flex;
   justify-content: space-between;
}

.main__prices_card{
   display: flex;
   flex-direction: column;
   justify-content: center;

   max-width: 421px;
   

   border-color: #EBEBEB;
   border-width: 2px;
   border-style: solid;

   flex-grow:1;

   margin: 2%;
}
.main__prices_card:hover{
      border: 1px solid #FED100;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
      transition: 0.5s;
}

.cardheader_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 5.875rem;
   margin-bottom: 2.125rem;

   font-size: 1.5rem;
   font-weight: 600;

}

.text_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 1.625rem;

   font-size: var(--header-p-font-size-desktop);
   font-weight: 400;
}

.text_price_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 3.75rem;
   margin-bottom: 3.25rem;

   font-size: 1.875rem;
   font-weight: 600;
}

.main__prices_orderbuttoncontainer{
   display: flex;
   margin: 0px auto;
   margin-bottom: 4.875rem;


   width: 250px;
   height: 51px;
   background-color: #FED100;
   color: #333333;

   justify-content: center;
   align-items: center;
      
}

.text_prices_orderbutton{
   font-size: 1.25rem;
   font-weight: 500;
   margin: 0px;

   user-select: none;
}

.main__prices_orderbuttoncontainer:hover{
   box-shadow: 0px 4px 24px #FED100;   
   color: #FFFFFF;
   transition: 0.5s;
   cursor: pointer;
}

.main__prices_allpricecontainer{
   margin:0 auto;
   display: none;
}

.text_prices_allpricestxt{
   font-size: 1.562rem;
   font-weight: 500;
   text-align: center;
}
/*================End of Price section =============*/


/*================Start of Autopark section =============*/
.main__autopark{
   background-color: #FFFFFF;
   color: var(--main-txt-color);
   
   margin: 0px;   
   
   padding-left: 3%;
   padding-right: 3%;  
   padding-bottom: 2rem;
}

.main__autopark_container{      
   margin: 0px auto;
   max-width: 1221px;
   padding-top: 1rem;
}

.main__autopark_header{
   text-align: center;   
}

.header1_main__autopark{
   font-size: 1.875rem;
   font-weight: 600;   
}

.header2_main__autopark{
   font-size: 1.5rem;
   font-weight: 600;   
}

.main__autopark_carbuttoncontainer{
   display: flex;
   margin: 0px auto;
   margin-bottom: 3.75rem;
   width: 643px;   

   justify-content:space-between;
   align-items: center;      
}

.buttoncar_main__autopark{
   background-color: white;
   border: 1px solid #EBEBEB;
      
   
   display: flex;
   align-items: center;
   justify-content: center;
   
   width: 201px;
   height: 50px;
}

.buttoncartxt_main__autopark{
   font-size: 1.25rem;
   font-weight: 500;   
   user-select: none;
}

.buttoncar_main__autopark:hover{
   box-shadow: 0px 4px 24px #FED100;
   border: 1px solid #FED100;   
   
   transition: 0.5s;
   cursor: pointer;
}

.main__autopark_slidecontainer{
   display:grid;
   grid-template-columns: [start] 0.15fr 1fr 2fr 0.15fr [col-end];
   grid-template-rows: [start] 30px auto auto [row-end];

   grid-template-areas: "arrowleft_ap slideheader_ap image_ap  arrowright_ap"
                        "arrowleft_ap featurs_ap image_ap  arrowright_ap"
                        "arrowleft_ap orderbtn_ap image_ap  arrowright_ap";
                       
   width: 100%;
}

.slideheadertxt_main__autopark{
   font-size: 1.5rem;
   font-weight: 600;

   margin: 0px;
}

.extslideheadertxt_main__autopark{
   font-size: 1.5rem;
   font-weight: 600;
   display: none;

}


.arrowleft_main__autopark{   
   grid-area: arrowleft_ap;  
   align-self: center;
   padding-right: 1rem;
}


.arrowright_main__autopark{   
   grid-area: arrowright_ap;  
   align-self: center; 
   padding-left: 1rem;  
}

.slideimg_main__autopark{
   grid-area: image_ap;
   max-width: 641px;
}
.imgslideimg_main__autopark{
   width: 100%;
}

.slideheader_main__autopark{
   grid-area: slideheader_ap;
   height: 29px;
   align-self: start;
}

.main__autopark_featurelistcontainer{
   grid-area: featurs_ap;
   align-self: center;
   
}

.main__autopark_featurelistcontainer ul{
   list-style: none;
   margin:0px;
   padding: 0px;
   
}

.main__autopark_featurelistcontainer ul li{
   
   
   font-size: 1rem;
   font-weight: 400;
   margin:0px;
   margin-top: 1.75rem;
}


.main__autoprk_radiobuttonscontainer{
   grid-area: radiobuttons_ap;
   display: none;
}


.main__autoprk_orderbuttoncontainer{
   grid-area: orderbtn_ap;

   display: flex;
      
   width: 250px;
   height: 50px; 
   
   background-color: #FED100;
   
   justify-content:center;
   align-items: center;      
}


.txt_main__autoprk_orderbuttoncontainer{
   font-size: 1.25rem;
   font-weight: 500;   
   user-select: none;
}

.main__autoprk_orderbuttoncontainer:hover{
   box-shadow: 0px 4px 24px #FED100;
   color:white;
   
   transition: 0.5s;
   cursor: pointer;
}

/*================End of Autopark section =============*/