:root{
   --main-hdr-txt-color:#17191C;
   --main-p-txt-color: #2F353D; 
   --main-tab-brd-color: #CBCBCB;
   --main-hdr-back-color:#c2d3e6;
   --main-max-width:45rem;
   --main-font-family: Rubik;
   --main-p-font-size: 1.125rem;
   --main-p-res500-fontsize: 1rem;
   --main-p-res400-fontsize: 0.75rem;
   --main-p-res350-fontsize: 0.5rem;
   --main-adj-max-width:500px;
   --footer-phone-font-size:1.125rem;
   --footer-menue-font-size:1.125rem;
   --footer-address-font-size:1rem;
   --footer-samllertxt-font-size:0.875rem;
   --footer-smallertxt-res700-font-size:0.75rem;
}

.body{
   font-family: var(--main-font-family);
   font-style: normal;
   font-size: var(--main-p-font-size);
   font-weight: 300; 
   line-height: 1.88rem;
   color: var(--main-p-txt-color);
   list-style-type: disc;
}
