@import url("main.css");


/*------------Tablet version-------------*/
@media (max-width: 1000px) {
   .header__menue{
      display: none;
   }
   .header__phone{
      display: none; 
   }
   .header__burger{
      font-size: 2rem;
      display:block;
     
   }
   .header__informationbody{
      
      grid-template-columns: [start] auto [col-end];
      grid-template-rows: [start] auto auto auto auto auto [row-end];
   
      grid-template-areas: "h_title"  
                          "h_countries" 
                          "h_deliverymanimg" 
                          "h_orderbuttoncontainer" 
                          "h_headertopics";         
      justify-content: space-around;
      align-items: center;
   } 
   .header__title h1{                 
      font-size: var(--header-h1-font-size-tablet);
      text-align: center;         
   }
   .header__countries h2{                
      font-size: var(--header-h2-font-size-tablet);
      text-align: center;
   }   
   .button_header__orderbuttoncontainer{        
      font-size: var(--header-button-font-size-tablet);
      width: 383px;
      height: 76px;    
      
      margin:0px auto;
   }
   .header__deliverymanimg{
      max-height: 500px;
      justify-content: center;
   }

   .header__deliverymanimg  img{
      height: 100%;
      width: auto;
      margin: 0px auto;
      object-fit: cover;
   }    
/*------------Process area of Tablet version-------------*/

.main__process{
   padding-left: 1%;
   padding-right: 1%;   
}

.main__process_container{      
   margin: 0px auto;
   max-width: 85%;
   padding-top: 2rem;
}

.main__process_topicsgrid{
   display:grid;
   grid-template-columns: [start] 0.2fr 1fr[col-end];
   grid-template-rows: [start] auto auto auto auto [row-end];

   grid-template-areas: "topicnumber01 topicheader01" 
                        "topicnumber01 topictext01"
                        "topicnumber02 topicheader02"
                        "topicnumber02 topictext02"
                        "topicnumber03 topicheader03"
                        "topicnumber03 topictext03"
                        "topicnumber04 topicheader04"
                        "topicnumber04 topictext04";                        
                       
   
   width: 100%;
   column-gap: 0.5rem;
}

.text_main__process_header{
   font-size: 1.875rem;
   font-weight: 600;
}

.topicnumber_process{
   display: block;
   font-size: 5.625rem;
   font-weight: 300;
   text-shadow: 2px 0px #FF772B;
   
   margin: 0rem;
   padding: 0rem;
   align-self:flex-end;
   object-position: bottom;
   margin-top: 1rem;
}
.topicheader__process{
   font-size: 1.5rem;
   font-weight: 500;

   margin: 0rem;
   margin-top: 2rem;
   padding: 0rem;
}
.topictext__process{
   font-size: 1rem;
   font-weight: 400;
   margin: 0rem;
   
   margin-top: 1rem;
   padding: 0rem;
}

.emptycol{
   display: none;
}

/*------------End of Process area of Tablet version-------------*/

/*------------Price area of Tablet version-------------*/

.main__prices{
   margin: 0px;   
   
   padding-left: 1%;
   padding-right: 1%;  
   padding-bottom: 2rem;
}

.main__prices_container{      
   margin: 0px auto;
   width: 100%;
   padding:0px;
}

.header1_main__prices{
   font-size: 1.875rem;
   font-weight: 600;
   padding-top: 3.75rem;
}

.header2_main__prices{
   font-size: 1.5rem;
   font-weight: 600;   
   padding-top: 0.75rem;
}

.main__prices_cardscontainer{
   width: 100%;
   display: flex;
   justify-content: center;
}

.main__prices_card{
   display: flex;
   flex-direction: column;
   justify-content: center;

   max-width: 421px;

   border-style: none;

   flex-grow:0;

   margin: 2%;
}

.main__prices_card:first-child{
   display:none;
}

.main__prices_card:last-child{
   display:none;
}

.main__prices_card:hover{
      border: none;
      box-shadow: none;
      transition: none;
}

.cardheader_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 2.81rem;
   margin-bottom: 0.5rem;

   font-size: 1.5rem;
   font-weight: 500;

}

.text_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 1.5rem;

   font-size: 1.125rem;
   font-weight: 400;
}

.text_price_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 3rem;
   margin-bottom: 1rem;

   font-size: 1.875rem;
   font-weight: 600;
}

.main__prices_orderbuttoncontainer{
   display: flex;
   margin: 0px auto;
   margin-bottom: 4.875rem;


   width: 358px;
   height: 71px;
   background-color: #FED100;
   color: #333333;

   justify-content: center;
   align-items: center;
      
}

.text_prices_orderbutton{
   font-size: 1.75rem;
   font-weight: 500;
   margin: 0px;

   user-select: none;
}

.main__prices_orderbuttoncontainer:hover{
   box-shadow: 0px 4px 24px #FED100;   
   color: #FFFFFF;
   transition: 0.5s;
   cursor: pointer;
}

.main__prices_allpricecontainer{
   display: block;
   width: 151px;
   height: 39px;

   border-bottom: 1px solid #333333;
   
   margin-bottom: 7.625rem;
}
.text_prices_allpricestxt{
   font-size: 1.562rem;
   font-weight: 500;
}


/*------------End of Price area of Tablet version-------------*/

}
/*------------End of Tablet version-------------*/

/*------------Mobile version-------------*/
@media (max-width: 500px) {
   .header{
      padding-left: 1%;
      padding-right: 1%;   
   }
   .header__companyname{
      font-size: var(--header-logo-font-size-mobile);
      font-weight: 600; 
      margin-left: 1rem;
   }
   .header__burger{
      font-size: 1.5rem;
      display:block;   
      margin-right: 1rem;  
   }
   .header__informationbody{
      
      grid-template-columns: [start] auto [col-end];
      grid-template-rows: [start] auto auto auto auto [row-end];
   
      grid-template-areas: "h_title"  
                          "h_countries" 
                          "h_deliverymanimg" 
                          "h_orderbuttoncontainer";         
      justify-content: center;
      align-items: center;
   } 
   .header__title{            
      text-align: center;    
      display: inline-block;
   }
   .header__title h1{  
      font-size: var(--header-h1-font-size-mobile);
      line-height: 100%;
   }


   .header__countries{                
      text-align: center;
   }   
   .header__countries h2{                
      font-size: var(--header-h2-font-size-mobile);
      
   }   

   .header__topics{
      display: none;   
   }

   .button_header__orderbuttoncontainer{        
      font-size: var(--header-button-font-size-mobile);
      width: 292px;
      height: 60px;      

      box-shadow:none;
   }

   .header__deliverymanimg{
      max-width: 248px;
      margin:0px auto;
   }

   .header__deliverymanimg  img{
      width: 100%;
      height: auto;
      margin: 0px auto;
      
   }   

/*------------Process area of Mobile version-------------*/
.main__process{
   padding-left: 1%;
   padding-right: 1%;   
}

.main__process_container{      
   margin: 0px auto;
   max-width: 85%;
   padding-top: 2rem;
}

.main__process_topicsgrid{
   display:grid;
   grid-template-columns: [start] 0.2fr 1fr 0.1fr[col-end];
   grid-template-rows: [start] auto auto auto auto [row-end];

   grid-template-areas: "topicnumber01 topicheader01 arrow1"                         
                        "topicnumber02 topicheader02 arrow2"                        
                        "topicnumber03 topicheader03 arrow3"                        
                        "topicnumber04 topicheader04 arrow4";                    
                          
   column-gap: 0.5rem;
}

.text_main__process_header{
   font-size: 1.25rem;
   font-weight: 600;
}

.topicnumber_process{
   font-size: 3.125rem;
   font-weight: 300;
   text-shadow: 2px 0px #FF772B;
   
   margin: 0rem;
   padding: 0rem;
   
   margin-top: 1rem;
}
.topicheader__process{
   font-size: 1rem;
   font-weight: 500;

   margin: 0rem;
   margin-top: 1rem;
   padding: 0rem;
}
.topictext__process{
   display: none;
}

.topictext01__process .topictext01__process .topictext01__process .topictext01__process{
   display: none;
}

.emptycol{
   display: none;
}

 .process__arrowdown1, .process__arrowdown2, .process__arrowdown3, .process__arrowdown4{
   display: block;
   align-self: center;
    justify-self: center;
}


.arrowimg_process{
   
}

.process__arrowdown1{
    grid-area: arrow1;

}
.process__arrowdown2{
   grid-area: arrow2;
}
.process__arrowdown3{
   grid-area: arrow3;
}
.process__arrowdown4{
   grid-area: arrow4;
}

/*------------End of Process area of Mobile version-------------*/

/*------------Price area of Mobile version-------------*/

.main__prices{
   
   padding-left: 1%;
   padding-right: 1%;  
   padding-bottom: 2rem;
}

.main__prices_container{      
   margin: 0px auto;
   width: 100%;
   padding-top: 2rem;
}

.header1_main__prices{
   font-size: 1.25rem;
   font-weight: 600;   
}

.header2_main__prices{
   font-size: 1rem;
   font-weight: 600;   
}

.main__prices_card{
   margin: 0%;
}

.cardheader_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 0rem;
   margin-bottom: 0.5rem;

   font-size: 1.125rem;
   font-weight: 500;

}

.text_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 1rem;

   font-size: 1rem;
   font-weight: 400;
}

.text_price_main__prices{
   display: block;
   margin: 0px auto;

   margin-top: 2.75rem;
   margin-bottom: 3.125rem;

   font-size: 1.875rem;
   font-weight: 600;
}

.main__prices_orderbuttoncontainer{
   display: flex;
   margin: 0px auto;
   margin-bottom: 1.25rem;


   width: 292px;
   height: 60px;
   
   justify-content: center;
   align-items: center;      
}

.text_prices_orderbutton{
   font-size: 1.25rem;
   font-weight: 500;
   margin: 0px;

   user-select: none;
}

.main__prices_allpricecontainer{
   display: block;
   width: 81px;
   
   border-bottom: 1px solid #333333;
   
   margin-bottom: 1.93rem;
}
.text_prices_allpricestxt{
   font-size: 1rem;
   font-weight: 500;
}


/*------------End of Price area of Mobile version-------------*/



}
/*------------End of Mobile version-------------*/